.app__layout {
  height: 100%;
  background-color: white;
}

.app__header {
  width: 100%;
  height: 100%;
}

.app__header__logo {
  height: 50%;
}

.app__header__title {
  display: inline-block;
  margin-right: 5%;
}

.app__footer {
  text-align: center;
}

.login__card {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.login {
  margin: 3% 5%;
  border: 1px solid @borderColor;
  padding: 1% 5%;
  height: 62%;
  text-align: center;
}

.login__text {
  font-size: 20px;
}

.login__submit {
  text-align: center;
  margin-bottom: 0;
  margin-top: 20px;
}

.login__submit__button {
  width: 50%;
}

@media only screen and (max-width: @mobileBreakpoint) {
  .app__header__logo {
    height: 55%;
  }

  .app__layout > .ant-layout-header {
    padding: 0 32px;
  }

  .app__header__title {
    font-size: 16px
  }

  .app__content {
    margin: 16px 0;
    border: none;
    padding: 0;
  }
}
