/*-------------------
      Grid
--------------------*/
@mobileBreakpoint: 568px;
@largeMonitorBreakpoint: 1100px;

/*-------------------
     Fonts
--------------------*/
@fontDirName: 'IRANSansWeb';
@fontName: 'IRANSansWeb';
@fontFileName: 'IRANSansWeb';
@fontWeightName: 'normal';
@fontFileNameBold: 'IRANSansWeb_Medium';
@fontWeightNameBold: 'medium';

/*-------------------
     Colors
--------------------*/
@borderColor: #e8e8e8;

/*---  Brand Colors  ---*/
@defaultBorderRadius: 4px;

@font-face {
  font-family: @fontName;
  font-weight: normal;
  src: url('../static/fonts/@{fontDirName}/@{fontWeightName}/@{fontFileName}.eot');
  src: url('../static/fonts/@{fontDirName}/@{fontWeightName}/@{fontFileName}.eot?#iefix') format('embedded-opentype'),
  url('../static/fonts/@{fontDirName}/@{fontWeightName}/@{fontFileName}.woff2') format('woff2'),
  url('../static/fonts/@{fontDirName}/@{fontWeightName}/@{fontFileName}.woff') format('woff'),
  url('../static/fonts/@{fontDirName}/@{fontWeightName}/@{fontFileName}.ttf') format('truetype');
}

@font-face {
  font-family: @fontName;
  font-weight: bold;
  src: url('../static/fonts/@{fontDirName}/@{fontWeightNameBold}/@{fontFileNameBold}.eot');
  src: url('../static/fonts/@{fontDirName}/@{fontWeightNameBold}/@{fontFileNameBold}.eot?#iefix') format('embedded-opentype'),
  url('../static/fonts/@{fontDirName}/@{fontWeightNameBold}/@{fontFileNameBold}.woff2') format('woff2'),
  url('../static/fonts/@{fontDirName}/@{fontWeightNameBold}/@{fontFileNameBold}.woff') format('woff'),
  url('../static/fonts/@{fontDirName}/@{fontWeightNameBold}/@{fontFileNameBold}.ttf') format('truetype');
}

html, body, main, #root {
  max-height: 100%;
  height: 100%;
}

#root {
  position: fixed;
  width: 100%;
}

body {
  direction: rtl;
}

* {
  unicode-bidi: embed;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: @fontName, Arial, Helvetica, sans-serif !important;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

p {
  white-space: pre-wrap;
}

.ant-layout, .ant-layout-header, .ant-layout-content {
  background-color: white;
}

.ant-message .anticon {
  margin-left: 4px;
}

.ant-modal .ant-confirm-btns .ant-btn-primary {
  margin-right: 8px;
  margin-left: 0;
}

.ant-spin {
  font-size: 20px;
  margin-top: 32px;
  right: 0;
}

.ant-list-item-action-split {
  left: 0px;
  right: auto;
}

.ant-list-item-action > li:first-child {
  padding-left: 8px;
}

.ant-list-item-action > li:last-child {
  padding-left: 0;
}

.ant-divider-horizontal {
  margin: 0;
}

.ant-layout-footer {
  padding: 2% 50px;
}

.ant-divider-horizontal {
  min-height: 1px;
}

.ant-layout-sider, .ant-layout-sider-children {
  background-color: white;
}

.ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
  margin-right: 0;
  margin-left: 10px;
}

.ant-confirm-title {
  overflow: hidden !important;
}

.ant-modal-close {
  left: 0;
  right: auto;
}

.ant-modal-footer {
  text-align: left;
}

.ant-modal-footer button + button {
  margin-left: 0;
  margin-right: 8px;
}

.ant-select-selection-selected-value {
  float: right;
}

.ant-form-item-label {
  text-align: right;
}

@media only screen and (max-width: @mobileBreakpoint) {
  .ant-list-item-action {
    margin-left: auto;
    margin-right: auto;
  }
}

.ant-layout-sider-zero-width-trigger {
  right: 0;
  z-index: 1;
}
