<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="OOD Project">
    <meta name="application-name" content="OOD Project">
    <meta name="theme-color" content="#c00c1a">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#c00c1a">
    <meta name="apple-mobile-web-app-title" content="OOD Project">
    <meta name="msapplication-TileColor" content="#c00c1a">
    <meta name="msapplication-navbutton-color" content="#c00c1a">
    <title>OOD Project</title>
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
